<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/main.css') }}">

    <title>Heart Disease Prediction</title>
</head>
<body>
    <div class="container mt-4">
        <nav>
            <ul>
                <li>
                    <img src="{{ url_for('static', filename = 'image/logo.svg') }}" alt="">
                </li>
            </ul>
        </nav>

        <div class="get-started d-flex flex-column flex-sm-column flex-md-column flex-lg-row mt-5">
            <div>
                <h1>Prediksi Penyakit Jantung</h1>
                <p class="mt-4">Prediksi penyakit jantung ini dilakukan dengan menjawab beberapa pertanyaan terkait diri kamu. Hasil prediksi nantinya berdasarkan jawaban yang kamu berikan.</p>
                <p class="mt-4">Perlu diketahui hasil prediksi tidak selalu benar, untuk hasil yang lebih pasti silahkan pergi ke dokter yaa.</p>
                <p class="mt-4">Silahkan klik tombol dibawah untuk memulai. </p>
                <button type = "button" class = "btn btn-outline-primary mt-3" id="start-btn">Mulai Test</button>
            </div>
            <div class="mt-5 mt-md-0 d-flex flex-row justify-content-center">
                <img src="{{ url_for('static', filename = 'image/ilustration.svg') }}" alt="">
            </div>
        </div>

        <div class="survey-wrapper d-flex justify-content-center align-items-center">
            <div class="survey">
                <p class = "question-complete">Pertanyaan 1/17</p>
                <form method = "POST" class="form-quest">
                    <div class="question first-question">
                        <p class="question-sentence">Halo, kalau boleh tau siapa namamu ?</p>
                        <input type="text"  class="form-control" id="nama" required placeholder = "Masukkan namamu">
                    </div>
                    <div class="question">
                        <p class="question-sentence">Pilih jenis kelamin kamu</p>
                        <label class = "choice-wrap form-check-label" for="sex1">
                            <input class="form-check-input" type="radio" name="sex" id="sex1" value="Laki-laki" required>
                            <span class="ms-1">Laki-laki</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="sex2">
                            <input class="form-check-input" type="radio" name="sex" id="sex2" value="Perempuan">
                            <span class="ms-1">Perempuan</span>
                        </label>
                    </div>
                    <div class="question">
                        <p class="question-sentence">Berapakah usia kamu?</p>
                        <input type="number" min='1' class="form-control" id="umur" name = "umur" required placeholder = "Masukkan usia kamu">
                    </div>
                    <div class="question">
                        <p class="question-sentence">Berapakah berat badan (kg) kamu?</p>
                        <input type="number" min='1' class="form-control" id="berat-badan" name = "berat-badan" required placeholder = "Masukkan berat badan kamu">
                    </div>
                    <div class="question">
                        <p class="question-sentence">Berapakah tinggi badan (cm) kamu?</p>
                        <input type="number" min='1' class="form-control" id="tinggi-badan" name = 'tinggi-badan' required placeholder = "Masukkan tinggi badan kamu">
                    </div>
                    <div class="question">
                        <p class="question-sentence">Apakah kamu punya riwayat darah tinggi?</p>
                        <label class = "choice-wrap form-check-label" for="high-blood1">
                            <input class="form-check-input" type="radio" name="high-blood" id="high-blood1" value="1" required>
                            <span class = "ms-1">Punya</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="high-blood2">
                            <input class="form-check-input" type="radio" name="high-blood" id="high-blood2" value="0" required>
                            <span class = "ms-1">Tidak Punya</span>
                        </label>
                    </div>
                    <div class="question">
                        <p class="question-sentence">Apakah kamu punya riwayat penyakit diabetes?</p>
                        <label class = "choice-wrap form-check-label" for="diabetes1">
                            <input class="form-check-input" type="radio" name="diabetes" id="diabetes1" value="1" required>
                            <span class = "ms-1">Punya</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="diabetes2">
                            <input class="form-check-input" type="radio" name="diabetes" id="diabetes2" value="0" required>
                            <span class = "ms-1">Tidak Punya</span>
                        </label>
                    </div>
                    <div class="question">
                        <p class="question-sentence">Apakah kamu punya riwayat penyakit koresterol?</p>
                        <label class = "choice-wrap form-check-label" for="choresterol1">
                            <input class="form-check-input" type="radio" name="choresterol" id="choresterol1" value="1" required>
                            <span class = "ms-1">Punya</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="choresterol2">
                            <input class="form-check-input" type="radio" name="choresterol" id="choresterol2" value="0">
                            <span class = "ms-1">Tidak Punya</span>
                        </label>
                    </div>
                    <div class="question">
                        <p class="question-sentence">Apakah kamu adalah seorang perokok?</p>
                        <label class = "choice-wrap form-check-label" for="smoker1">
                            <input class="form-check-input" type="radio" name="smoker" id="smoker1" value = "1" required>
                            <span class = "ms-1">Iya</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="smoker2">
                            <input class="form-check-input" type="radio" name="smoker" id="smoker2" value = "0">
                            <span class = "ms-1">Tidak</span>
                        </label>
                    </div>
                    <div class="question">
                        <p class="question-sentence">Apakah kamu menderita penyakit stroke?</p>
                        <label class = "choice-wrap form-check-label" for="stroke1">
                            <input class="form-check-input" type="radio" name="stroke" id="stroke1" value = "1" required>
                            <span class = "ms-1">Iya</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="stroke2">
                            <input class="form-check-input" type="radio" name="stroke" id="stroke2" value = "0">
                            <span class = "ms-1">Tidak</span>
                        </label>
                    </div>
                    <div class="question">
                        <p class="question-sentence">Apakah kamu menjalani kegiatan fisik yang berat selama 30 hari terakhir ?</p>
                        <label class = "choice-wrap form-check-label" for="phys-activity1">
                            <input class="form-check-input" type="radio" name="phys-activity" id="phys-activity1" value = "1" required>
                            <span class = "ms-1">Iya</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="phys-activity2">
                            <input class="form-check-input" type="radio" name="phys-activity" id="phys-activity2" value = "0">
                            <span class = "ms-1">Tidak</span>
                        </label>
                    </div>
                    <div class="question">
                        <p class="question-sentence">Sekarang pikirkan tentang kesehatan mental kamu, yang meliputi stres, depresi, dan masalah emosi, berapa hari selama 30 hari terakhir kesehatan mental kamu tidak baik?</p>
                        <input type="number" min='0' max = '30' class="form-control" id="mental-hlt" name = "mental-hlt" required placeholder = "Masukkan jawaban kamu">
                    </div>
                    <div class="question">
                        <p class="question-sentence">Sekarang pikirkan tentang kesehatan fisik kamu, yang meliputi penyakit fisik dan cedera, berapa hari selama 30 hari terakhir kesehatan fisik kamu tidak baik?</p>
                        <input type="number" min='0' max = '30' class="form-control" id="physc-hlt" name = "physc-hlt" required placeholder = "Masukkan jawaban kamu">
                    </div>
                    <div class="question">
                        <p class="question-sentence">Apakah kamu kesulitan berjalan secara normal ?</p>
                        <label class = "choice-wrap form-check-label" for="diff-walk1">
                            <input class="form-check-input" type="radio" name="diff-walk" id="diff-walk1" value = "1" required>
                            <span class = "ms-1">Iya</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="diff-walk2">
                            <input class="form-check-input" type="radio" name="diff-walk" id="diff-walk2" value = "0">
                            <span class = "ms-1">Tidak</span>
                        </label>
                    </div>
                    <div class="question">
                        <p class="question-sentence">Apakah kamu memiliki rutinitas memakan buah setidaknya satu kali dalam sehari ?</p>
                        <label class = "choice-wrap form-check-label" for="fruit1">
                            <input class="form-check-input" type="radio" name="fruit" id="fruit1" value = "1" required>
                            <span class = "ms-1">Iya</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="fruit2">
                            <input class="form-check-input" type="radio" name="fruit" id="fruit2" value = "0">
                            <span class = "ms-1">Tidak</span>
                        </label>
                    </div>
                    <div class="question">
                        <p class="question-sentence">Apakah kamu memiliki rutinitas mengkonsumsi sayuran setidaknya satu kali dalam sehari ?</p>
                        <label class = "choice-wrap form-check-label" for="veggan1">
                            <input class="form-check-input" type="radio" name="veggan" id="veggan1" value = "1" required>
                            <span class = "ms-1">Iya</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="veggan2">
                            <input class="form-check-input" type="radio" name="veggan" id="veggan2" value = "0">
                            <span class = "ms-1">Tidak</span>
                        </label>
                    </div>
                    <div class="question">
                        <p class="question-sentence">Secara umum, jika kamu menilai diri kamu dari 1-5, seberapa sehat kah kamu?</p>
                        <label class = "choice-wrap form-check-label" for="gen-hlth1">
                            <input class="form-check-input" type="radio" name="gen-hlth" id="gen-hlth1" value="1" required>
                            <span class = "ms-1">1</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="gen-hlth2">
                            <input class="form-check-input" type="radio" name="gen-hlth" id="gen-hlth2" value="2">
                            <span class = "ms-1">2</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="gen-hlth3">
                            <input class="form-check-input" type="radio" name="gen-hlth" id="gen-hlth3" value="3">
                            <span class = "ms-1">3</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="gen-hlth4">
                            <input class="form-check-input" type="radio" name="gen-hlth" id="gen-hlth4" value="4">
                            <span class = "ms-1">4</span>
                        </label>
                        <label class = "choice-wrap form-check-label" for="gen-hlth5">
                            <input class="form-check-input" type="radio" name="gen-hlth" id="gen-hlth5" value="5">
                            <span class = "ms-1">5</span>
                        </label>
                    </div>
                    <div class="warn mt-3"></div>
                    <div class="button-groups mt-4">
                        <button type="button" class="btn btn-primary rounded" id = "next-btn">Lanjut</button>
                        <button type="submit" class="btn btn-success" id ='submit-btn'>Prediksi</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="result healthy mt-3 mx-auto">
            <div class="result-ilust">
                <img src="{{ url_for('static', filename = 'image/healthy.svg') }}" alt="">
            </div>
            <div>
                <h2 class="result-title mt-2">Hasil Prediksi</h2>
                <h2 class="result-content mt-3">Kamu Sehat-sehat saja, stay healthy :) </h2>
                <p class="result-desc mt-3">Halo <span></span>, berdasarkan prediksi sistem, kamu saat ini sehat. Tetap terapkan pola hidup sehat ya supaya jantung kamu tetap sehat 😀</p>
            </div>
            <div>
                <a href="{{ url_for('home')}}" type="button" class="btn btn-primary rounded mt-2" id = "retake-btn">Test Ulang</a>
            </div>
        </div>

        <div class="result unhealthy mt-3 mx-auto">
            <div class="result-ilust">
                <img src="{{ url_for('static', filename = 'image/unhealthy.svg') }}" alt="">
            </div>
            <div>
                <h2 class="result-title mt-2">Hasil Prediksi</h2>
                <h2 class="result-content mt-3">Kamu Mungkin Ada Masalah Jantung </h2>
                <p class="result-desc mt-3">Halo <span></span>, berdasarkan prediksi sistem, kamu saat ini mungkin ada masalah di jantung, untuk hasil diagnosa lebih pasti silahkan pergi ke dokter yaa 🙏 🙏 😀</p>
            </div>
            <div>
                <a href="{{ url_for('home')}}" type="button" class="btn btn-primary rounded mt-2" id = "retake-btn">Test Ulang</a>
            </div>
        </div>

        <div class="loading">
            <div class="load-spin spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <span class="ms-3">Memprediksi</span>
        </div>
        
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src = "{{ url_for('static', filename = 'script/event.js') }}" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>